# Auto detect text files and perform LF normalization
* text=auto

*.rar binary
*.zip binary

*.properties text
*.py text
*.cpp text
*.properties_ext text
*.cc text
*.htm text
*.abbrev text
*.vbp text
*.frm text
*.vcproj text
*.patch text
*.h text
*.java text
*.c text
*.cls text
*.txt text
*.html text
*.sln text
*.api text
*.wiki text
